* {
  margin: 0px;
  padding: 0px;
}

.nav {
  width: 100vw;
  height: auto;
  flex-shrink: 0;
  background: rgba(255, 144, 14, 0.1);
}

.head {
  width: auto;
  height: 1322px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  height: auto;
}

#g3 {
  color: var(--Dark-01, #131313);
  text-align: start;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  margin-top: 40px;
}

ul,
li {
  display: flex;
  justify-content: center;
  color: var(--Dark-02, #424242);
  align-items: center;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin: 20px 20px;
}

.brand {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand h2 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  width: 862px;
  margin-top: 20px;
}

.brand p {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 862px;
}

.brand p {
  width: 868px;
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 10px;
}

.brand button {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px;
}

#banner {
  text-align: center;
  margin: 40px 0px;

}

#banner img {
  height: auto;
  width: auto;
  margin-bottom: 50px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin: 20px 240px;
  margin-bottom: 80px;
}

.photos {
  display: flex;
  justify-content: end;
  align-items: center;
}

.photos img {
  width: 20vw;
  height: 20vw;
  flex-shrink: 0;
  margin: 20px;
}

.text {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#of {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


#feat{
  color: #FF900E;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


#para{
  display: block;
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 537px;

}




.more-features{
  display: flex;
  justify-content: space-between;
  margin: 60px 240px;
  gap: 50px;
}

#feature{
  border-left: 15px solid #FF900E;
  padding: 20px;
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

#feats{
  width: 50%;
  height: auto;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chobi{
  width: 50%;
  height: auto;
}

.chobi img{
  width: 100%;
  height: 100%;
}

#feats p{
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}


.details{
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  width: 90%;
  margin-bottom: 30px;
}












@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  #g3 {
    margin: 30px;
    margin-bottom: 0px;
  }

  ul {
    margin: 20px;
  }

  li {
    margin: 20px;
  }

  .brand h2 {
    margin-top: 20px;
    width: auto;
    margin: 0px 30px;
  }

  .brand p {
    width: auto;
    margin: 0px 20px;
  }

  #banner {
    margin: 20px;
  }
  #banner img {
    width: 100%;
    height: auto;
  }



  .features{
    flex-direction: column;
    gap: 10px;
  }


  .photos img{
    width: 45vw;
    height: 45vw;
    margin: 5px;
  }


  #para{
    width: auto;
  }


  .text{
    gap: 0px;
    margin-bottom: 20px;
  }
}
